<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../src/index.css">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
  </head>
  <body>
    <!-- <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript> -->
    <div class="text-red-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus dolor ipsum ipsa, eligendi est sunt nobis non nesciunt atque earum quam cumque exercitationem neque nulla dolores distinctio iusto incidunt asperiores. Perferendis quisquam praesentium sed aliquid dignissimos sunt possimus, soluta vel magnam distinctio officia debitis voluptatum doloribus, natus voluptate. Ab, consectetur ratione, unde soluta, tempora omnis aut quod quos itaque recusandae asperiores similique aperiam suscipit! Ipsam amet, corrupti iusto rem rerum labore perspiciatis omnis numquam, distinctio provident dolorem iste sint voluptas ipsa modi consequuntur sit dignissimos blanditiis. Fugit sapiente incidunt ab at quis, adipisci totam quod accusamus alias vel expedita.</div>
  </body>
</html>
